.about-content {
  margin-top: 20px;
  max-width: 700px;
}
.about {
  color: #283618;
}

.about p {
  color: #606c38;
  margin-bottom: 10px;
}

.about-cards {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.about-cards div {
  background: #ffffff;
  padding: 15px;
  border-radius: 8px;
  flex: 1;
  border: 1px solid #eee;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}
