.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}
.contact {
  color: #283618;
}
.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact-form button {
  background: #283618;
  color: #fefae0;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.contact-form button:hover {
  background: #606c38;
}
