* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #fefae0;
  color: #283618;
}

section {
  padding: 80px 20px;
}
html {
  scroll-behavior: smooth;
}
