.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fefae0;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  z-index: 1000;
  border-bottom: 1px solid #ddd;
}

.logo {
  color: #283618;
  font-weight: bold;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: #283618;
  transition: 0.3s;
}
.navbar a:hover {
  color: #bc6c25;
}
